Django
pillow
opencv-python
django-crispy-forms<2
django-fontawesome-5
django-pagedown
django-markdown-deux
whitenoise<6
gunicorn
dj_static
six
sorl-thumbnail<12.11
ffmpeg-python
git+https://github.com/tschuelia/django-map-widgets@patch-1
# debugging
django-extensions
