Django<4
pillow
opencv-python
django-crispy-forms<2
django-fontawesome-5
django-activeurl
django-pagedown
django-markdown-deux
django-bootstrap-datepicker-plus
whitenoise<6
gunicorn
dj_static
six
sorl-thumbnail
ffmpeg-python
git+https://github.com/tschuelia/django-map-widgets@patch-1