{% load static %}
<div class="pswp-gallery pswp-gallery--single-column" id="my-gallery">
  <div class="row row-cols-3">
        {% for img in images|slice:":3" %}
            {% include "diary/_image_gallery_item.html" with img=img %}
        {% endfor %}
    </div>
    {% if images|length > 3 %}
        <div class="row">
            <div class="ml-auto">
                <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseGallery{{ entry_pk }}"
                        aria-expanded="false" aria-controls="collapseGallery{{ entry_pk }}">
                    {{ images|length|add:"-3" }} weitere <i class="fas fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseGallery{{ entry_pk }}">
            <div class="row row-cols-3">
                {% for img in images|slice:"3:" %}
                    {% include "diary/_image_gallery_item.html" with img=img %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<script type="module">
import PhotoSwipeLightbox from '{% static "diary/dist/photoswipe-lightbox.esm.js" %}';
import PhotoSwipe from '{% static "diary/dist/photoswipe.esm.js" %}';
import PhotoSwipeVideoPlugin from '{% static "diary/dist/photoswipe-video-plugin.esm.js" %}';
import PhotoSwipeDynamicCaption from '{% static "diary/dist/photoswipe-dynamic-caption-plugin.esm.js" %}';


const lightbox = new PhotoSwipeLightbox({
  gallery: '#my-gallery',
  children: 'a',
  pswpModule: PhotoSwipe,
  bgOpacity: 0.8,
  loop: true
});

const videoPlugin = new PhotoSwipeVideoPlugin(lightbox, {
  // options
});
const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
  // Plugins options, for example:
  type: 'aside',
});
lightbox.init();
</script>
