{% extends "diary/base.html" %}
{% load markdown_deux_tags %}
{% block content %}
<div class="row my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a class="text-dark" href="{% url 'diaries-overview' %}">Übersicht</a></li>
            <li class="breadcrumb-item"><a class="text-dark" href="{% url 'diary-detail' pk=entry.diary.pk %}">{{ entry.diary.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ entry.title }}</li>
        </ol>
    </nav>
</div>

<div class="row my-4">
    <h1 class="text-truncate d-inline">{{ entry.title }}</h1>
    <div class="ml-auto">
        {% if entry.diary.owner == user%}
        <!-- Allow update and delete -->
        <a href="{% url 'update-entry' diary_pk=entry.diary.pk entry_pk=entry.pk %}" class="btn text-dark"><i
                class="fas fa-edit"></i></a>
        <a href="{% url 'delete-entry' diary_pk=entry.diary.pk entry_pk=entry.pk %}" class="btn text-danger"><i
                class="fas fa-trash"></i></a>
        {% endif %}
    </div>
</div>
<hr>
<p>
    <i class="far fa-calendar-alt"></i> {{ entry.start_date }} {% if entry.end_date %} –
    {{ entry.end_date }}{% endif %}
</p>
<!-- Pictures -->
<div class="row my-4 mx-2">
    <h3 class="text-truncate d-inline">Bilder</h3>
    <div class="ml-auto">
        {% if entry.diary.owner == user%}
        <!-- Allow adding images -->
        <a href="{% url 'add-images' diary_pk=entry.diary.pk entry_pk=entry.pk %}" class="btn"><i
                class="col-2 fas fa-edit"></i><i class="col-2 fas fa-plus"></i></a>
        {% endif %}
    </div>
</div>
<div class="mx-4">
    {% include "diary/entry_images.html" %}
</div>
<br>
<hr>
<!-- Files -->
<div class="row my-4 mx-2">
    <h3 class="text-truncate d-inline">Dateien</h3>
    <div class="ml-auto">
        {% if entry.diary.owner == user%}
        <!-- Allow adding files -->
        <a href="{% url 'add-files' diary_pk=entry.diary.pk entry_pk=entry.pk %}" class="btn"><i
                class="col-2 fas fa-edit"></i><i class="col-2 fas fa-plus"></i></a>
        {% endif %}
    </div>
</div>
<div class="mx-4">
    {% for file in files%}
      <i class="fas fa-paperclip"></i> <a href="{{ file.get_url }}">{{ file.filename }}</a>
      <p>{{ file.description }}</p>
    {% endfor %}
</div>
<br>
<hr>
<!-- Description -->
<div>
    {{ entry.description|markdown }}
</div>
<hr>
<!-- Map -->
{% include "diary/map.html" with diary_location=entry_location locations="" labels=""%}


{% endblock content %}