body {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.pswp__dynamic-caption {
    color: #fff;
    width: 100%;
}

.pswp__dynamic-caption a {
    color: #fff;
    text-decoration: underline;
}

.card {
    margin-bottom: 20px !important;
 }
