{% extends 'diary/base.html' %}
{% load markdown_deux_tags %}
{% block content %}
<div class="row my-4">
  <h1 class="text-truncate d-inline">Tagebücher</h1>
  <div class="ml-auto">
    {% if user.is_authenticated%}
    <!-- Allow creating new diaries -->
    <a href="{% url 'diary-create' %}" class="btn btn-outline-dark"><i class="fas fa-plus"></i></a>
    {% endif %}
  </div>
</div>
<form method="GET">
  <div class="row">
    <div class="col-6 mb-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" onChange="this.form.submit()" value="" name="onlyOwnDiaries"
          id="onlyOwnDiaries" {% if onlyOwnDiariesSelected %}checked{% endif %}>
        <label class="form-check-label" for="onlyOwnDiaries">
          Nur eigene Tagebücher
        </label>
      </div>
    </div>
  </div>
</form>
<div class="card-columns">
  {% for diary, image in diaries_and_images %}
  <div class="card">
    {% if image %}
    <img src="{{ image.get_url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a class="text-dark" href={% url 'diary-detail' diary.pk %}>{{ diary.title }}</a></h5>
      <p class="card-text">{{ diary.summary|markdown }}</p>
    </div>
    <div class="card-footer">
      <small>
        <i class="far fa-calendar-alt"></i> {{ diary.start_date }} {% if diary.end_date %} –
        {{ diary.end_date }}{% endif %}
      </small>
      <br>
      <small>
        <i class="fas fa-map-marked-alt"></i> {{ diary.location_alias }}
      </small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}